@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    border:2px solid black 
} */


.bgImg{
    background:url('../src/assets/Rectangle 4281.png');
    position: relative;
}

.bgImg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.90);
}